<h2 class="text-center">投稿詳細</h2>

<div class="container d-flex justify-content-center">
  <div class="col-12 col-md-8">

    <% if @post.image.attached? %>
      <div class="mb-3">
        <%= image_tag @post.image, class: 'mb-3' %>
      </div>
    <% end %>

    <p><strong>タイトル:</strong> <%= @post.title %></p>

    <p><strong>本文:</strong> <%= @post.body %></p>

    <p>
      <strong>投稿者:</strong> <%= link_to @post.user.name, user_path(@post.user) %>
    </p>

    <p>
      <strong>投稿日:</strong> <%= @post.created_at.in_time_zone("Asia/Tokyo").strftime("%Y年%m月%d日 %H:%M") %>
    </p>

    <div class="mb-3">
      <% if user_signed_in? %>
        <div id="favorite_btn_<%= @post.id %>">
          <%= render 'public/favorites/btn', post: @post %> <!-- いいねボタンをレンダリング -->
        </div>
      <% else %>
        ♡ <%= @post.favorites.count %>
      <% end %>
    </div>

    <% if @post.user == current_user %>
      <div class="d-flex">
        <%= link_to '編集', edit_post_path(@post), class: 'btn btn-success mr-2' %>
        <%= link_to '削除', post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
      </div>
    <% end %>

    <div class="d-flex justify-content-between mt-3">
      <%= link_to 'トップページ', root_path, class: 'btn btn-primary' %>
      <%= link_to 'マイページ', mypage_path, class: 'btn btn-secondary' %> 
    </div>
  </div>
</div>

<div class="mt-4">
  <%= render partial: "public/comments/comments", locals: { post: @post } %>
</div>