<h2 class="text-center mb-4">ユーザー一覧</h2>

<div class="mb-3 text-end">
  <%= link_to 'ダッシュボード', admin_root_path, class: 'btn btn-primary' %>
</div>

<table class="table table-bordered table-hover align-middle text-center">
  <thead>
    <tr>
      <th>プロフィール画像</th>
      <th>名前</th>
      <th>メールアドレス</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td style="width: 120px;">
          <%= link_to admin_user_path(user) do %>
            <% if user.image.attached? %>
              <%= image_tag user.image, class: "img-thumbnail", style: "width: 100px; height: 100px; object-fit: cover;" %>
            <% else %>
              <%= image_tag 'no_image.jpg', class: "img-thumbnail", style: "width: 100px; height: 100px; object-fit: cover;" %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to user.name, admin_user_path(user), class: "text-decoration-none" %>
        </td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>


