<h1>マイページ</h1>
<div>
  <%= image_tag current_user.image.attached? ? url_for(current_user.image) : asset_path('no.image.jpg'), alt: 'プロフィール画像' %>
  <p><%= current_user.name %></p>
  <p><%= current_user.profile %></p>
  <%= link_to 'プロフィール編集', edit_user_path(current_user), class: 'btn btn-primary' %>
</div>

<h2>自分の投稿一覧</h2>
<%= link_to '新規投稿', new_post_path, class: 'btn btn-success' %>
<%= render @posts %>

<%= link_to 'いいね一覧', favorites_index_path, class: 'btn btn-info' %>

<%= link_to 'フォロー一覧', follows_index_path, class: 'btn btn-secondary' %>

