<h1 class="text-center mb-4"><%= @user.name %>さんのプロフィール</h1>

<div class="profile-info d-flex flex-column flex-md-row align-items-center mb-4">
  <div class="profile-image mb-3 mb-md-0 me-md-4 text-center">
    <%= image_tag @user.image.attached? ? url_for(@user.image) : asset_path('no_image.jpg'),class: 'mb-3', style: 'max-width: 150px;' %>
  </div>
  
  <div class="profile-details text-md-start">
    <div class="mb-3">
      <p><strong>名前：</strong><%= @user.name %></p>
    </div>
    
    <div class="mb-3">
      <p><strong>自己紹介：</strong><%= @user.profile %></p>
    </div>

    <% if @user == current_user && !current_user.guest_user? %>
      <div class="mt-3">
        <%= link_to 'プロフィール編集', edit_user_path(current_user), class: 'btn btn-primary' %>
      </div>
    <% end %>  
  </div>
</div>


<div class="mb-4">
  <%= link_to '新規投稿', new_post_path, class: 'btn btn-success me-2' %>
</div>


<h2 class="text-center mb-4">投稿一覧</h2>
<% if @posts.present? %>
  <%= render 'public/posts/posts', posts: @posts %>
<% else %>
  <p class="text-center">このユーザーの投稿はまだありません。</p>
<% end %>


