<!DOCTYPE html>
<html>
  <head>
    <title>MangoConnect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/6bf4bffa06.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render 'layouts/header' %>

    <main class="container flex-grow-1">
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </main>

    <footer class="bg-dark text-white text-center py-4 mt-4">
      <p>&copy; 2025 Mango Connect. All rights reserved.</p>
    </footer>
  </body>
</html>
